ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body {
    background: #f8f6f6;
    font-family: cursive;
    font-weight: normal;
}

.todo {
    position: relative;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4vh 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before,
.todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before,
.lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list {
    border-top: 1px solid #e6ebed
}

.form-wrapper {
    margin-right: auto;
    margin-left: auto;
    z-index: 200;
    position: relative;
    text-align: center;
    top: 9vh;
    width: 96.5vh;
    padding: 1.9vh;
    background: #cccccc;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

.button:before {
    content: '';
    position: absolute;
    border-width: 1.2vh 1.2vh 1.2vh 0vh;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 1.4vh;
    left: -1vh;
}

.todo-list:after {
    content: '';
    width: 0.4vh;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    left: 4.9vh;
}

.todo-list li {
    position: relative;
    padding: 2vh 15px 2vh 7.9vh;
    line-height: 5vh;
    font-size: 3vh;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
}

li:nth-child(odd) {
    background: #f9f9f9;
}

.linet {
    text-decoration: line-through;
    background-color: #e0e0e0 !important;
}

li:hover {
    background: #eaeaea;
}

.signc {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2vh 2.5vh 2vh 2.5vh;
}

.signc:hover {
    background-color: #f44336;
    color: white;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.button:hover {
    background: #e54040;
}

.button:active,
.button:focus {
    background: #c42f2f;
}

.button:hover:before {
    border-right-color: #e54040;
}

.button:focus:before {
    border-right-color: #c42f2f;
}

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.form-wrapper input {
    width: 82.4vh;
    height: 5vh;
    padding: 10px 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.todo {
    padding: 8.9vh 0;
}

.closebtn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 5vh;
    width: 14vh;
    font: bold 2vh 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.main {
    top: 4vh;
    position: relative;
}

.notepad {
    margin-left: auto;
    margin-right: auto;
    height: 4.0vh;
    width: 100.3vh;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(80, 0, 0, .3);
    z-index: 500;
    position: relative;
}

.notepad h1 {
    text-align: center;
    font-size: 4vh;
    height: 7vh;
    line-height: 7vh;
    background-color: #3f7eb6;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px rgba(255, 255, 255, .3);
    border: 1px solid rgba(0, 0, 0, .5);
    padding: .75em;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    margin: 0;
    position: relative;
}

.notepad h1:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0.5vh;
    left: 0;
    border-bottom: 0.2vh dashed rgba(0, 0, 0, .6);
}

.signcc {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transform-origin: 55% 55%;
}

.signc:hover .signcc {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}